<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="/" style="margin-left:20px"><span>Derin Öğrenme Proje</span></a>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav ml-auto">
			<div id="switch" class="dropdown">
				<button style="background-color:white;width:160px" class="btn dropdown-toggle" type="button" data-toggle="dropdown">
					<span class="fa fa-glass" aria-hidden="true"></span> Şarap Türü
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li id="red" style="margin-left:7px"><a href="/redwinequalityprediction" style="text-decorator:none;color:rgb(33,37,41)">Kırmızı Şarap</a></li>
					<li id="white" style="margin-left:7px"><a href="/whitewinequalityprediction" style="text-decorator:none;color:rgb(33,37,41)">Beyaz Şarap</a></li>
				</ul>
			</div>
		</ul>
	</div>
</nav>