<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Derin Öğrenme Proje</title>
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/flag-icon/css/flag-icon.min.css">
    <script src="../static/js/jquery/jquery.min.js"></script>
</head>
<body>
    {% include "includes/header.html" %}
    <div>
	    <div class="container-fluid">
	    {% block body %}
	    {% endblock %}
	    </div>
	</div>
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>
